.component {
	line-height: 1.2em;
	margin-left:auto;
    margin-right:auto;
	overflow: hidden;
	margin-bottom: 2em;
}
.component .filler {
	color: #d3d3d3;
}

table {
    border-collapse: collapse;
    background: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #4E4E4F;
}

td {
    padding: 0.3em 0.8em;
    text-align: left;
	vertical-align: middle;
}
th {
    padding: 0.4em 0.8em;
    text-align: center;
	vertical-align: middle;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #4287D6;

    color: #fff;
    white-space: nowrap;
	text-shadow: none;
}
tbody th {
	background-color: #4287D6;
}
tbody tr:nth-child(2n-1) {
    background-color: #F2F2F2;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(66,135,214,.3);
}
/* For appearance */
.sticky-wrap {
	/*overflow-x: scroll;
	overflow-y: scroll;
	position: relative;*/
	/*UGIT cambio para que salga toda la tabla*/
}

.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	transition: all .125s ease-in-out;
	z-index: 50;
	
}

	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
	
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	
}
